
body {
    background-color: #f3f6f3;
    font-family: Arial, sans-serif;
}

.container {
    padding-top: 50px;
}

.titulo {
    color: #518d4f;
    font-weight: bold;
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 30px;
}

.tarjeta {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.tarjeta h5 {
    color: #518d4f;
    margin-bottom: 15px;
}

.btn-registrar {
    background-color: #518d4f;
    border-radius: 30px;
    padding: 10px 40px;
    color: white;
    width: 100%;
}

.btn-registrar:hover {
    background-color: #42753f;
}

.form-control {
    border-radius: 30px;
    padding: 15px;
    margin-bottom: 15px;
}

.form-label {
    font-size: 1.1rem;
    color: #6c757d;
}

.list-group-item {
    border: none;
}

